// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #45b7b8;
$yellow: #f7de1c;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$light-purple: #706381;
$dark-purple: #2c3848;
