<div>
  <%= simple_form_for [thing, booking] do |f| %>
    <%= f.input :arrival_date, as: :date, html5: true, label: "Début de la location" %>
    <%= f.input :departure_date, as: :date, html5: true, label: "Fin de la location" %>
    <%= f.button :submit, "Réserver", class: 'btn btn-primary'%>
  <% end %>
</div>
